{% extends 'base.html' %}

{% block content %}
    <div class="comments">
        {% if comments.created_date %}
            <div class="date">
                {{ comments.created_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
     	<a class="btn btn-default" href="{% url 'comments_edit' pk=comments.pk %}"><span class="glyphicon glyphicon-pencil" style="color:green;">EDIT</span></a>
		{% endif %}
        <p>{{comments.company}}</p>
        <p> {{comments.post}}</p>
        <p>{{ comments.text|linebreaksbr }}</p>
        <img src="{{comments.logo.url }}">
    </div>

{% endblock %}
